<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/controllers.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container">
        <div class="col-md-2 col-md-offset-5">
            <h2>A B C</h2>
            <div id="app-container" ng-controller="TodoCtrl">
                <span>valid: {{ valid_input(check()) }}</span>
                <div class="input-group">
                    <form ng-submit="calculate()">
                        <input class="form-control" type="text" ng-model="a" size="3" placeholder="0">
                        <input class="form-control" type="text" ng-model="b" size="3" placeholder="0">
                        <input class="form-control" type="text" ng-model="c" size="3" placeholder="0">
                        <input id="btn-submit" class="btn btn-primary" type="submit" value="add">
                        <span id="return"></span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
